<!-- Footer -->
<footer class="page-footer font-small unique-color-dark mt-5">

    <div class="container-fluid" style="background-color:grey;">   <!-- #6351ce -->
<!-- container -->
        <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 black-text">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a href="" class="fb-ic">
            <i class="fab fa-facebook-f black-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter black-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g black-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in black-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram black-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
    </div>
    <!-- /container -->
    </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Let us help you</h6>
        <hr class="deep-purple accent-2 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="m-0">
          <a href="#!">Order Status</a>
        </p>
        <p class="m-0">
          <a href="#!">Shipping & Handling</a>
        </p>
        <p class="m-0">
          <a href="#!">Returns & Exchange</a>
        </p>
        <p class="m-0">
          <a href="#!">Our Services</a>
        </p>

        <p class="m-0">
          <a href="#!">Exclusive Offers</a>
        </p>

      </div>
      <!-- Grid column -->

        <!-- Grid column -->
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Who we are ?</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="m-0">
          <a href="{% url 'home:about' %}">About us</a>
        </p>
        <p class="m-0">
          <a href="{% url 'home:contact' %}">Contact us</a>
        </p>
        <p class="m-0">
          <a href="{% url 'home:contact' %}">Our story</a>
        </p>

      </div>
      <!-- Grid column -->

         <!-- Grid column -->
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Our policy</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="m-0">
          <a href="#!"> Privacy policy</a>
        </p>
        <p class="m-0">
          <a href="#!">Terms of use</a>
        </p>
        <p class="m-0">
          <a href="#!">FAQs</a>
        </p>
        <p class="m-0">
          <a href="#!">Sign Up Now</a>
        </p>

      </div>
      <!-- Grid column -->

        <!-- Grid column -->
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Popular searches</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="m-0">
          <a href="#!">Blazzers</a>
        </p>
        <p class="m-0">
          <a href="#!">Shoes</a>
        </p>
        <p class="m-0">
          <a href="#!">Women's clothing</a>
        </p>
        <p class="m-0">
          <a href="#!">Men's clothing</a>
        </p>

      </div>
      <!-- Grid column -->

          <!-- Grid column -->
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Connect with us</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="m-0">
          <a href="#!">MDBootstrap</a>
        </p>
        <p class="m-0">
          <a href="#!">MDWordPress</a>
        </p>
        <p class="m-0">
          <a href="#!">BrandFlow</a>
        </p>
        <p class="m-0">
          <a href="#!">Bootstrap Angular</a>
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> AreGhe.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->