{% load static %}
<link type="text/css" href="{% static 'css/style1.css' %}" rel="stylesheet">

{% for p in product %}
<img id=featured src="{{ p.image.url }}" alt="">
{% endfor %}
    <div id="slide-wrapper">
      <img id=slide-left class="arrow" src="/static/img/svg/arrow_left.svg" alt="">
        <div id ='slider'>
            {% for i in images %}
            <img class="thumbnail active" src="{{ i.image.url }}" alt="">
            {% endfor %}
        </div>
      <img id=slide-right class="arrow" src="/static/img/svg/arrow_right.svg" alt="">
    </div>


   <script type="text/javascript">
    let thumbnails =document.getElementsByClassName('thumbnail')

   let activeImages =document.getElementsByClassName('active')

   for (var i = 0; i < thumbnails.length; i++){

            thumbnails[i].addEventListener('mouseover',function () {
                console.log(activeImages)

                if (activeImages.length > 0){
                    activeImages[0].classList.remove('active')
                }

                this.classList.add('active')
                document.getElementById('featured').src = this.src
            })

   }

   let buttonRight =document.getElementById('slide-right')
    let buttonLeft =document.getElementById('slide-left')
   buttonLeft.addEventListener('click',function () {
       document.getElementById('slider').scrollLeft -=180
   })

  buttonRight.addEventListener('click',function () {
       document.getElementById('slider').scrollLeft +=180
   })


   </script>

